<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false"
		 backupStaticAttributes="false" beStrictAboutTestsThatDoNotTestAnything="true" colors="true"
		 convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true"
		 failOnRisky="true" processIsolation="false" stopOnFailure="false" bootstrap="tests/bootstrap.php">
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src/</directory>
		</whitelist>
	</filter>
	<testsuites>
		<testsuite name="PHP New Relic Event API Test Suite">
			<directory>./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
